# Laravel Ignored Files
/storage/framework
/storage/logs
/storage/app/public
/storage/debugbar
.env
.env.*
/vendor/
/node_modules/
/public/storage
/public/hot
npm-debug.log
yarn-error.log
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/public/build
/public/storage
.DS_Store
Thumbs.db
/homestead.yaml
/homestead.json
/aliases
/.vagrant
/.vscode/
/storage/app/*.key
.phpunit.result.cache

# Ignored directories for user-uploaded content
/public/uploads/*
!/public/uploads/.gitignore
/public/proofs/*
!/public/proofs/.gitignore
/public/clientAvatar/*
!/public/clientAvatar/.gitignore
/public/testimonialAvatar/*
!/public/testimonialAvatar/.gitignore
/public/after/completed_task_image/*
!/public/after/completed_task_image/.gitignore
/public/before/initial_task_image/*
!/public/before/initial_task_image/.gitignore
/public/businesstoolsImages/*
!/public/businesstoolsImages/.gitignore
/public/upload/*
!/public/upload/.gitignore
